---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KV7WYQNS8G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KV7WYQNS8G');
</script>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Projects</p>
                </div>
                {% include project-card.html %}
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>